// TODO: generate a color pallette
$primary: #123123

*
    margin: 0
    padding: 0
    box-sizing: border-box
    




.d-block
    display: block
    
.section
    height: 100vh
    padding: 2vh 20vw



    &:nth-child(3n) // This is probably wrong
        background-color: $primary